* {
    box-sizing: border-box;
    font-family:'Quicksand', sans-serif;
}
html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    overflow: hidden;
}
#landing {
    overflow: hidden;
}

.stage {
    height: 100%;
    width: 100%;
    /*overflow: hidden;*/
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    -webkit-transition: -webkit-transform 0.3s ease-out;
}
.offerheader{
    background: url(../images/blurrcity.jpg) no-repeat;
    background-size: cover;
}
.topsection {
    width: 100%;
    background: rgb(0, 197, 209);
    display: flex;
    flex: 0.9;
    justify-content: center;
    align-items: center;
}
.logoimg {

}
.bottomsection {
    height: 45%;
    width: 100vw;
    background: rgb(255, 217, 0);
    color: rgb(66, 66, 66);
    position: relative;
}
a {
    width: 100%;
    display: block;
    text-decoration: none;
    color: black;
}
.intro {
    font-size: 10vw;
    line-height: 17vh;
}
footer {
    width: 100%;
    height: 10%;
    cursor: pointer;
    font-size: 1.5em;
    color: rgb(239, 239, 239);
    border-top: 1px solid rgba(0, 0, 0, 0.52);
}
#drive, #drop{
    width: 50%;
    height: 100%;
}
#drive{
    float: left;
    border-right: 1px solid rgba(0, 0, 0, 0.86);
}
#drop{
    float: right;
    border-left: 1px solid rgba(0, 0, 0, 0.86);
}
.howitworks {
    line-height: 9vh;
    background-color: rgb(51, 51, 51);
    color: rgb(239, 239, 239);
}
.howitworks a {
    font-size: 6vw;
}
.textline1 {
    width: 100%;
    height: 25%;
    position: absolute;
    line-height: 10vh;
    font-size: 6vw;
}
.desc {
    width: 90%;
    height: 35%;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 15%;
    margin: auto;
    font-size: 6vw;
    color: rgb(66, 66, 66);
}
.logotxt {
    width: 100%;
    height: 20%;
    position: absolute;
    top: 0;
    bottom: 15%;
    margin: auto;
    font-size: 10vw;
    color: rgb(0, 204, 214);
}
#DNDtitle {
    width: 100%;
    height: 25%;
    line-height: 35vh;
    font-size: 8vw;
    color: #00BCD4;
}
.DNDlogo {
    position: absolute;
    top: 0;
    bottom: 30%;
    left: 0;
    right: 0;
    margin: auto;
    height: 12%;
    width: 25%;
}
.DNDlogo img {
    width: 100%;
}
.button {
    border-radius: 9vw;
    text-align: center;
    line-height: 9vh;
    cursor: pointer;
}
#searchbtn{
    line-height: 44px;
    width: 80%;
    height: 44px;
    margin: 10px auto 30px auto;
    background: #00c5d1;
}

#fblogin {
    top: 25%;
    width: 65%;
    font-weight: bold;
    line-height: 7.7vh;
    background: yellow;
    margin: auto;
}
#fblogin a {
    color: rgb(51, 51, 51);
}
/*****DND HOME PAGE*****/

#opt {
    background: url(../images/highway.jpg) no-repeat;
    background-position: center;
    background-size: cover;
}
.homeheader {
    width: 100%;
    height: 10%;
    line-height: 10vh;
    background: rgb(251, 251, 251);
    color: rgb(51, 51, 51);
}
#homescreen{
    flex: 0.1;
}
.icon {
    width: 60%;
    height: 60%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}
.headersections{
    flex:1;
}
.headersections,
.left {
    width: 20%;
    height: 100%;
    position: relative;
    float: left;
}
#profileicon {
    float: left;
}
#messages {
    float: right;
}
svg {
    width: 60%;
    height: 60%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}
textarea{
    width: 88%;
    height: 70px;
    font-size: 1em;
    margin: auto;
    margin-top: 30px;
}
.offersection2{
    margin-top: 10px;
    width: 86%;
    height: 60%;
    flex: 0;
    background: rgba(158, 158, 158, 0.5);
}
.offersection2 ul{
    height:80%;
}
.offersection2 ul li{
    height: 16%;
}
.offersection2 ul li .selecttr{
    line-height:2em;
}
.offersection2 .continue{
    margin-bottom: 20px;
}
.current{
    width: 100%;
    float: left;
    font-size: 6.5vw;
    color: rgb(0, 204, 214);
}
footer {
    width: 100%;
    position: absolute;
    height: 10%;
    bottom: 0;
    cursor: pointer;
    background: rgba(251, 251, 251, 1);
    line-height: 9vh;
    display: flex;
    flex-direction: row;
}
footer svg g:hover{
    stroke: #00c5d1;
}
.options {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex: 0.8;
    justify-content: center;
    align-items: initial;
}
.dndopt {
    margin: 1em;
}
#optDrive {
    background: rgb(0, 197, 209);
}
#optDrive a {
    width: 100%;
    font-size: 5vw;
}
#optDropped {
    background: rgb(255, 217, 0);
}
#optDropped a {
    width: 100%;
    font-size: 5vw;
}
.selection {
    position: absolute;
    top: 20%;
    left: 0;
    right: 0;
    margin: auto;
    width: 90vw;
}
.circles {
    height: 50%;
    position: relative;
}
input {
    width: 75%;
    height: 100%;
    display: block;
    font-size: 5vw;
    color: rgb(244, 244, 244);
    transition: border 0.3s;
    border-bottom: 1px solid rgba(61, 61, 61, 0.67) !important;
    border: none;
    border-radius: 0;
    background: rgba(255, 0, 0, 0);
}
input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: rgb(244, 244, 244);;
}
input::-moz-placeholder { /* Firefox 19+ */
    color: rgb(244, 244, 244);
}
input:-ms-input-placeholder { /* IE 10+ */
    color: rgb(244, 244, 244);
}
input:-moz-placeholder { /* Firefox 18- */
    color: rgb(244, 244, 244);
}

input:focus {
    outline: none;
}
/*****on off button ******/
.onoffswitch {
    position: relative; width: 50px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
    float: right;
    margin: 2.5vw 0;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    height: 20px; padding: 0; line-height: 20px;
    border: 2px solid #CCCCCC; border-radius: 20px;
    background-color: #FFFFFF;
    transition: background-color 0.3s ease-in;
}
.onoffswitch-label:before {
    content: "";
    display: block; width: 18px; margin: 0px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 36px;
    border: 2px solid #CCCCCC; border-radius: 20px;
    transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label {
    background-color: #FFD900;
}
.onoffswitch-checkbox:checked + .onoffswitch-label, .onoffswitch-checkbox:checked + .onoffswitch-label:before {
    border-color: #FFD900;
}
.onoffswitch-checkbox:checked + .onoffswitch-label:before {
    right: 0px;
}



/*****/

.selectdrive {
    width: 100%;
    height: 35%;
}
ul {
    list-style: none;
    width: 100%;
    height: 70%;
    padding: 10px 0px;
    margin: 0;
}
li {
    height: 25%;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
}
.lefticons {
    width: 19%;
    height: 100%;
    position: relative;
    float: left;
}
.selecttr{
    width: 75%;
    text-align: left;
    font-size: 1.3em;
    border-bottom: 1px solid rgba(61, 61, 61, 0.67);
    color: #FFFFFF;
    padding-left: 8px;
}
li h3 {
    margin: 0;
    font-weight: normal;
    float: left;
    padding: 4vw 0 0 6vw;
    color: rgba(61, 61, 61, 0.66);
    line-height: normal;
}
.circledest {
    height: 60%;
    position: absolute;
    box-sizing: content-box;
    display: block;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
}
.findsection, #drivebgd {
    margin-top: 10px;
    width: 86%;
    height: 60%;
    background: rgba(158, 158, 158, 0.5);
}
#drivebgd{
    flex: 0;
}
.continue{
    width: 70%;
    background: rgba(0, 0, 0, 0.67);
    height: 14%;
    font-size: 1.3em;
    margin-bottom: 15%;
    border-radius: 21px;
    border-color: rgba(255, 0, 0, 0);
}
.continue:focus{
    outline:none;
}
.continue a{
    color: rgb(239, 239, 239);

}
.findride {
    width: 100%;
    height: 100%;
    background: url(../images/nyc.jpg) no-repeat;
    background-position: center;
}
#findlist li{
    height:22%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#droplist li {
    height: 25%;
}
#dropbgd {
    width: 100%;
    height: 46%;
    background: url(../images/map.png) no-repeat;
    background-size: cover;
    background-position: center;
}
#backicon {
    width: 40%;
    height: 50%;
}
.route {
    background: #00C5D1;
}
.stage.active{
    -webkit-transform: translateX(65%);
    -webkit-transition: -webkit-transform 0.3s ease-out;

}
.sidebar {
    position: absolute;
    left: -65% !important;
    top: 0;
    background: rgb(239, 239, 239);
    height: 100%;
    width: 65%;
    float: left;
    overflow: hidden;
    display: flex;
    flex-direction:column;
    justify-content: center;
    text-align: center;
}
.sidebar .myprofile{
    height: 22%;
    width: 60%;
    position: absolute;
    top: 10px;
    right: 0;
    left: 0;
    margin: auto;
    border-radius: 50%;
    overflow: hidden;
}
.sidebar .myprofile img{
    width:100%;
    height:auto;
}
.sidebar .switchto{
    height:10%;
    width:100%;
    position: absolute;
    bottom:0;
    line-height:10vh;
    background: rgb(61, 61, 61);
}
.switchto a{
    color: rgb(241, 241, 241)
}
.sidebar ul{
    height: 30%;
    width:100%;
    position: absolute;
    top: 30%;
    text-align: left;
}
.sidebar ul li{
    height: 38%;
    line-height: 5vh;
    padding: 1em;
    background: transparent;
}
.sidebar ul li:focus{
    background: red;
}
/**** SEARCH RESULTS *****/

.posts {
    height: 81%;
    overflow: scroll;
    background: rgb(239, 239, 239);
    position: relative;
}
.posts p {
    width: 80%;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
}
.filter {
    background: rgba(239, 239, 239, 0.01);
    border: 1px solid rgb(0, 197, 209);
    color: rgb(0, 197, 209);
    top: 0.5em;
}
.numberresults {
    color: rgb(51, 51, 51);
    font-size: 0.8em;
    top: 2.5em;
    font-weight: bold;
}
.extrainfo {
    width: 100%;
    position: relative;
    height: 12%;
}
.post {
    width: 95%;
    height: 23%;
    background: white;
    margin: 1em auto;
}
.time {
    width: 15%;
    float: left;
    text-align: left;
    margin-left: 1.4em;
    font-weight: bold;
}
.leavingfrom {
    text-align: left;
    font-size: 0.7em;
    margin: 0 1.5em 0 0;
    float: right;
}
.seats {
    width: 64%;
    float: right;
    color: rgb(216, 82, 128);
    text-align: right;
    margin: 0.5em 0.5em 0 0;
    font-weight: bold;
}
.minidp {
    width: 20%;
    float: left;
    margin: 1em;
    border: 1px solid rgb(0, 197, 209);
    border-radius: 2em;
    background: rgb(0, 197, 209);
}
.minidp img {
    width: 100%;
}
.driverinfo {
    width: 57%;
    margin: 0.5em;
    float: right;
    text-align: left;
}
.rating {
    width: 10%;
    float: left;
}
.rating img {
    width: 100%;
}
